[user]
    name = Romano Augusto
    email = romanoaugusto88@gmail.com

[github]
    user = romanoaugusto88

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    # commit
    ci = commit

    # status
    st = status

    # branch
    br = branch

    # checkout
    co = checkout

    # cherry-pick
    cp = cherry-pick -x

    # diff
    df = diff
    dc = diff --cached
    dh = diff HEAD^

    # log
    l = log --no-merges
    ld = log --no-merges -p
    who = shortlog -s --
    changes = log --no-merges --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
    short = log --no-merges --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
    changelog = log --no-merges --pretty=format:\" * %s\"

    # pull
    pr = pull --rebase

    # push
    po = push origin

    # rebase
    rb = rebase
    rc = rebase --continue
    rs = rebase --skip

[push]
    default = current

[include]
    path = .gitconfig.local
