[user]
    name = Romano Augusto
    email = romanoaugusto88@gmail.com

[github]
    user = romanoaugusto88

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    ci = commit
    amend = commit --amend -C HEAD
    amendoa = commit -a --amend -C HEAD

    st = status
    br = branch
    co = checkout
    cp = cherry-pick -x
    cf = clean -f

    df = diff
    dc = diff --cached
    dh = diff HEAD^

    l = log --no-merges
    ld = log --no-merges -p
    who = shortlog -s --
    changes = log --no-merges --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
    short = log --no-merges --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
    changelog = log --no-merges --pretty=format:\" * %s\"

    pr = pull --rebase
    po = push origin
    pof = push -f origin
    apof = !git amendoa && git pof

    rb = rebase
    rbc = rebase --continue
    rbs = rebase --skip
    rba = rebase --abort

    update = !git remote update upstream && git rebase `git rev-parse --abbrev-ref --symbolic-full-name @{u}`
    done = !git fetch upstream && git rebase `git rev-parse --abbrev-ref --symbolic-full-name @{u} && git push origin`

    rh = reset --hard

[push]
    default = current

[include]
    path = .gitconfig.local
[url "git@github.com:"]
	insteadOf = https://github.com/
