[user]
	name = Romano Augusto
	email = romanoaugusto88@gmail.com

[github]
	user = romanoaugusto88

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	ci = commit
	amend = commit --amend -C HEAD
	amendoa = commit -a --amend -C HEAD

	st = status
	br = branch
	co = checkout
	cp = cherry-pick -x
	cf = clean -f

	df = diff
	dc = diff --cached

	l = log --no-merges
	changes = log --no-merges --pretty=format:\"%h %Cgreen%s%Creset %cr by %cn\" --name-status

	pr = pull --rebase
	po = push origin
	pof = !git pr && git push -f origin
	apof = !git amendoa && git pof
	ruub = !git remote update upstream && git rebase

	rb = rebase
	rbc = rebase --continue
	rh = reset --hard

[push]
	default = current

[include]
	path = .gitconfig.local

[url "git@github.com:"]
	insteadOf = https://github.com/
