[user]
	name = Romano de Souza
	email = romanoaugusto88@gmail.com

[github]
	user = romanodesouza

[color]
	branch = auto
	diff = auto
	status = auto
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	commit = yellow bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	ci = commit
	amend = commit --amend -C HEAD
	amendoa = commit -a --amend -C HEAD

	st = status
	br = branch
	co = checkout
	cp = cherry-pick -x
	cf = clean -f

	df = diff
	dc = diff --cached

	changelog = log --no-merges --pretty=format:\"%h %Cgreen%s%Creset %cr by %cn\" --name-status

	pr = pull --rebase
	po = push origin
	pof = !git pr && git push -f origin
	apof = !git amendoa && git pof

	rb = rebase
	rh = reset --hard

	u = remote update origin
	sync = !git u && git rb

[push]
	default = current

[include]
	path = .gitconfig.local

[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff-so-fancy]
	markEmptyLines = false
