set relativenumber
set number
set scrolloff=8
set hlsearch
set ignorecase
set smartcase
set wrapscan
set showmode
set history=1000
set matchpairs

" spacemacs bindings
nnoremap <space>pf :action GotoFile<cr>
nnoremap <space>pc :action GotoClass<cr>

" escape
inoremap fd <esc>
noremap <c-g> <esc>

" Leader bindings
" TODO: Update the ideavim plugin and change "," by "<Leader>"
" save and goes to normal mode
inoremap ,s <esc>:w<cr> 
nnoremap ,s :w<cr> 
" clear highlighted search
nnoremap ,h :nohlsearch<cr>
" end of line
nnoremap ,e $
inoremap ,e <esc>A
" close
nnoremap ,q :action CloseContent<cr>
inoremap ,q <esc>:action CloseContent<cr>
" go to symbol
nnoremap ,d :action GotoSymbol<cr>
" go to action
nnoremap ,r :action GotoAction<cr>
inoremap ,r :action GotoAction<cr>
" toggle buffers
nnoremap ,g :action VimFilePrevious<cr>
inoremap ,g :action VimFilePrevious<cr>
" find in files
nnoremap ,a :action FindInPath<cr>
inoremap ,a :action FindInPath<cr>
" vertical split
nnoremap ,v :vsplit<cr>
inoremap ,v :vsplit<cr>

" Override point navigation
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" Emacs bindings
inoremap <c-a> <esc>I
nnoremap <c-a> ^
inoremap <c-e> <esc>A
nnoremap <c-e> $
inoremap <c-d> <esc>lxi
inoremap <c-f> <c-o>l
inoremap <c-b> <c-o>h
inoremap <a-f> <c-o>w
inoremap <a-b> <c-o>b
nnoremap <a-f> w
nnoremap <a-b> b
inoremap <c-k> <esc>ld$a
