set relativenumber
set number
set scrolloff=8
set hlsearch
set ignorecase
set smartcase
set wrapscan
set showmode
set history=1000
set matchpairs
set clipboard=unnamed

" find files
nnoremap <space>pf :action GotoFile<cr>
" find usages
nnoremap <space>u :action FindUsages<cr>
" toggle breakpoint
nnoremap <space>b :action ToggleLineBreakpoint<cr>
" refactoring
nnoremap <space>r :action RenameElement<cr>
" error navigation
noremap <space>en :action GotoNextError<cr>:action ShowErrorDescription<cr>
noremap <space>ep :action GotoPreviousError<cr>:action ShowErrorDescription<cr>
" reopen closed tab
nnoremap <space>t :action ReopenClosedTab<cr>

" escape
inoremap fd <esc>
noremap <c-g> <esc>

" first non-null character
nnoremap 0 ^

" Leader bindings
let mapleader = ","
" save and goes to normal mode
nnoremap <leader>s :wa<cr> 
inoremap <leader>s <esc>:wa<cr> 
" end of line
nnoremap <leader>e $
inoremap <leader>e <esc>A
" close
nnoremap <leader>q :action CloseContent<cr>
inoremap <leader>q <esc>:action CloseContent<cr>
" go to symbol
nnoremap <leader>d :action GotoSymbol<cr>
" go to action
nnoremap <leader>r :action GotoAction<cr>
inoremap <leader>r :action GotoAction<cr>
" toggle buffers
nnoremap <leader>g :action VimFilePrevious<cr>
inoremap <leader>g :action VimFilePrevious<cr>
" find in files
nnoremap <leader>a :action FindInPath<cr>
inoremap <leader>a :action FindInPath<cr>
" vertical split
nnoremap <leader>v :vsplit<cr>
inoremap <leader>v :vsplit<cr>
" Close other splits
nnoremap <leader>w :action VimWindowOnly<cr>
inoremap <leader>w <esc>:action VimWindowOnly<cr>

" override point navigation
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" tab navigation
nnoremap <c-h> :action VimMotionPreviousTab<CR>
nnoremap <c-l> :action VimMotionNextTab<CR>

" emacs bindings
inoremap <c-a> <esc>I
nnoremap <c-a> ^
inoremap <c-e> <esc>A
nnoremap <c-e> $
inoremap <c-d> <esc>lxi
inoremap <c-f> <c-o>l
inoremap <c-b> <c-o>h
inoremap <a-f> <c-o>w
inoremap <a-b> <c-o>b
nnoremap <a-f> w
nnoremap <a-b> b
inoremap <c-k> <esc>ld$a
