snippet v
	var_dump($${1}); exit;
snippet pre
	echo '<pre>', print_r($${1}), '</pre>'; exit;
snippet retn
	return null;
snippet d
	die("${1}");
snippet ni # Namespace and interface
	namespace `substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\\\', 'g')`;

	interface `vim_snippets#Filename()`
	{
		${0}
	}
